header {
    background: #F55A5A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 55px;
    /* width: 140px;
    height: 24px;
    top: 16px;
    left: 213px; */
    
}
.logo{
    width: 30px;
    /* height: 60px;
    object-fit: contain; */
    margin-right: 7px;
}
h1{
    font-size: 0.9rem;
    font-weight: 500;
    /* font-family: Inter; */
    color: white;

}